---
- name: Install dependencies
  ansible.builtin.include_role:
    name: upstream
    tasks_from: "{{ image.upstream.source }}"

- name: Set custom variables
  ansible.builtin.set_fact:
    image_version: "{{ (latest_version | split('-'))[0] }}"
    image_name: "{{ image.name }}"
    image_labels: "{{ image.labels }}"
    image_build: "{{ image.build }}"

- name: End playbook if no new version
  ansible.builtin.meta: end_host
  when: softwares[image.name] is defined and softwares[image.name].version == image_version

- name: Download wp-cli
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
    dest: "{{ build_work_dir }}/wp-cli"
    mode: '0755'

- name: Copy dockerfile
  ansible.builtin.template:
    src: Dockerfile.j2
    dest: "{{ build_work_dir }}/Dockerfile"
    mode: '0644'

- name: Copy php.ini
  ansible.builtin.template:
    src: php.ini
    dest: "{{ build_work_dir }}/php.ini"
    mode: '0644'
