server {
    enabled = {{ nomad_server_enabled | lower }}

    bootstrap_expect = {{ nomad_servers | length }}

    data_dir = "{{ nomad_data_dir_server }}"

    {% if nomad_server_retry_join -%}
        retry_join = [
            {%- set comma = joiner(",") -%}
            {% for server in nomad_servers_advertise_address -%}
                {{ comma() }}"{{ server }}"
            {%- endfor -%} ]
        retry_max = {{ nomad_server_retry_max }}
        retry_interval = "{{ nomad_serer_retry_interval }}"
    {% else -%}
        start_join = [
            {%- set comma = joiner(",") -%}
            {% for server in nomad_servers_advertise_address -%}
                {{ comma() }}"{{ server }}"
            {%- endfor -%} ]
    {%- endif %}

    rejoin_after_leave = {{ nomad_server_rejoin_after_leave | lower }}

    enabled_schedulers = [
            {%- set comma = joiner(",") -%}
            {% for scheduler in nomad_server_enabled_schedulers -%}
                {{ comma() }}"{{ scheduler }}"
            {%- endfor -%} ]
    num_schedulers = {{ nomad_server_num_schedulers }}

    heartbeat_grace = "{{ nomad_server_heartbeat_grace }}"
    min_heartbeat_ttl = "{{ nomad_server_min_heartbeat_ttl }}"
    failover_heartbeat_ttl = "{{ nomad_server_failover_heartbeat_ttl }}"
    max_heartbeats_per_second = {{ nomad_server_max_heartbeats_per_second }}

    event_buffer_size = {{ nomad_server_event_buffer_size }}
    node_gc_threshold = "{{ nomad_server_node_gc_threshold }}"
    eval_gc_threshold = "{{ nomad_server_eval_gc_threshold }}"
    job_gc_threshold = "{{ nomad_server_job_gc_threshold }}"
    deployment_gc_threshold = "{{ nomad_server_deployment_gc_threshold }}"

    encrypt = "{{ nomad_encrypt_key }}"

    raft_protocol = {{ nomad_server_raft_protocol }}

}
