---
- name: Set custom variables
  ansible.builtin.set_fact:
    image_version: "{{ mariadb_version }}"
    image_definition: "{{ image }}"

- name: End playbook if no new version
  ansible.builtin.meta: end_host
  when: softwares[catalog_image_name] is defined and softwares[catalog_image_name].version == image_version
