---
- name: Include upstream variables
  ansible.builtin.include_vars: upstream.yml

- name: Set custom variables
  ansible.builtin.set_fact:
    image_version: "{{ latest_version }}"
    image_definition: "{{ image }}"
    image_forkable: "{{ image.forkable }}"
    upstream_file_url: "{{ upstream_file_url }}"
    upstream_file_name: "{{ upstream_file_name }}"
    
- name: End playbook if no new version
  ansible.builtin.meta: end_host
  when: softwares[catalog_image_name] is defined and softwares[catalog_image_name].version == image_version

- name: Copy dockerfile
  ansible.builtin.template:
    src: Dockerfile.j2
    dest: "{{ build_work_dir }}/Dockerfile"
    mode: '0644'
