<style>
	.CLASS figure { /*border-top: 1px solid #e0e0e02e;*/ font-size: 14px; margin-top: 20px; margin-bottom: 20px;}
	.CLASS figure:first-child { border-top: 0; }
	.CLASS figure:first-child { margin-top: 0; }
	.CLASS .buttons { float: right; padding-left: 10px; }
	.CLASS .name { margin-right: 300px; }
	.CLASS .name > i { width: 12px; margin-right: 5px; text-align: center; }
	.CLASS .buttons span { line-height: 21px; margin:0px 2px 2px 2px ; border-radius: var(--radius); border: 0; margin: 0 5px; }
	.CLASS figure .name .picto { display: inline-block; padding-right: 15px; }
	.ui-box-icon { color: #EA706B }

	@media(max-width:768px) {
		.CLASS .name { margin-right: 46px; }
	}
</style>

<ui-component name="box" path="common.form" config="if:~PATH~;width:550;icon:ti ti-folders;title:@(Catalog);reload:?/reload;hide:?/close;;close:?/close" class="hidden ~PATH~" plugin="~PATH~">
	<nav>
		<button class="exec" data-exec="?/settings"><i class="ti ti-config"></i></button>
		<button class="exec" data-exec="?/fork"><i class="ti ti-code-branch green"></i>@(Fork)</button>
		<button class="exec" data-exec="?/events"><i class="ti ti-comment purple"></i></button>
		<button class="exec" data-exec="?/operations" data-bind="?__enabled:value&&(value.checked&&value.checked.length)__track:checked" disabled><i class="fa fa-check-circle"></i>@(Operate)</button>
	</nav>
	<ui-component name="datagrid" path="?.items" config="height:fluid;minheight:fluid;numbering:false;dblclick:?/update;button:?/button;checked:?.checked;">
		<script type="text/plain">
			[
			{ name: 'name', text: 'Name', template:'<span><img src="/img/{{ name }}.png" width="15" heigth="15" /></span>&nbsp;&nbsp;&nbsp;{{ alias | empty(name) }}', width: 250 },
			{ name: 'version', text: 'Version', classth: 'left', width: 150 },
			{ name: 'name', text: 'Info', classth: 'left', template:'<span class="badge badge-small badge-green"><i class="ti ti-clock {{ if cron }}orange{{ else }}grey{{ fi }}"></i></span>&nbsp;&nbsp;&nbsp;<span class="badge badge-small badge-green"><i class="ti ti-code-branch {{ if fork }}green{{ else }}grey{{ fi }}"></i></span>', width: 100 }
			]
		</script>
	</ui-component>
	<ui-component name="console2" path="?.console_visible" config="autoshow:false;clear:?/clear_events;datasource:?.console_logs"></ui-component>
</ui-component>

<script>
	PLUGIN(function(exports) {

		var interval = '';

		Thelpers.picto = function(val) {
			return '<div style="padding:0px;border:0px solid #E0E0E0"><img src="/img/{0}.png" width="15" heigth="15" top="0" border="0" /></div>'.format(val);
		};

		exports.reload = function() {
			exports.refresh();
		};

		exports.refresh = function() {
			exports.tapi('catalogs ERROR', function(result){
				exports.set(result);				
				SET('catalog_list', result.items);
			});
		};

		exports.fork = function() {
			const catalog_list = GET('catalog_list').filter(item => Boolean(item?.forkable));
			SET('formcatalogfork @default', { tab: 'default', catalog_list: catalog_list, crontab: '* * * * *'});
			SET('common.form2', 'formcatalogfork');
		};

		exports.settings = function(el) {
			const id = GET('?.settingsId');
			const type = 'settings';
			const key = 'catalogs';

			if(!id){
				SET('formvariable @reset @hideloading', { type: type, key: key });
				SET('common.form2', 'formvariable');
			}
			else {
				exports.tapi('variables_read/{0} ERROR'.format(id), { type: type, format: 'yaml', key: key}, function(response) {
					SET('formvariable @reset @hideloading', response);
					SET('common.form2', 'formvariable');
				});
			}
		};

		exports.update = function(el) {
			var id = ATTRD(el);
			exports.tapi('catalogs_read/{0} ERROR'.format(id), function(response) {
				if(response.fork){
					response.tab = 'default';
					response.catalog_list = GET('catalog_list').filter(item => Boolean(item?.forkable));
					SET('formcatalogfork @reset @hideloading', response);
					SET('common.form2', 'formcatalogfork');
				}
				else {
					SET('formcatalog @reset @hideloading', response);
					SET('common.form2', 'formcatalog');
				}
			});
		};

		exports.refresh_events = function(el) {
			exports.tapi('events_read ERROR', { event: 'build' }, function(result){
				SET('?.console_logs', result);
			});
		};

		exports.events = function(el) {
			SET('?.console_visible', true);
			exports.refresh_events();
			interval = setInterval(function() {
				exports.refresh_events();
            }, 10000);
		};

		exports.close = function() {
			console.log('close');
            clearInterval(interval);
		};

		exports.clear_events = function(el) {
			clearInterval(interval);
			exports.tapi('events_remove ERROR', { event: 'build' }, function(){
				SET('?.console_visible', false);
			});
		};

		exports.operations = function(el) {
			
			var model = GET('?');
			var options = {};
			options.align = 'center';
			options.items = [];
			options.element = el;
			var icon = ATTRD(el, 'icon');

			options.items.push({ action: 'execute', name: 'Build', icon: 'ti ti-play green', comment: '@(Do you want to build selected items ?)'});
			options.items.push({ action: 'remove', name: 'Remove', icon: 'ti ti-trash red', comment: '@(Do you want to remove selected items ?)'});

			options.callback = function(item) {
				SETTER('approve/show', item.comment, '"{0}"'.format(item.icon), function() {
					model.checked.wait(function(value, next) {
						exports.tapi('catalogs_{0}/{1} ERROR'.format(item.action, value.id), { action: item.action }, function(result) {
							next();
						});
					}, function(){
						SETTER('notify/success', '@(Done)');
						exports.refresh();
						if(item.action == 'remove')
							exports.refreshGraph();
					});
				});
			};
			SETTER('menu', 'show', options);
		};
	});
</script>