---
timeout: 2
limit: 1024
log_level: "error"
queries_per_sec: 2000
tcp_period: 6h
# icmp_period: 30s

{% if build_step is defined and build_step %}
targets: []
{% else %}
targets:
{% for host in groups['infrastructure'] if (host.split(".")[1] == 'frontends' and host != inventory_hostname) %}
  - name: "{{ host }}"
    ip: "{{ hostvars[host].ansible_local.ipinfo.ip }}"
    queries_per_sec: 500
    tcp:
      period: "2h"
      range: "all"
      expected: "{{ scan_exporter_tcp_expected | default('80,443') }}"
    # icmp:
    #   period: "1m"

{% endfor %}
{% endif %}
