---
- name: Create default directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: "0755"
  loop:
    - "{{ software_path }}"
  delegate_to: "{{ software.instance }}"

- name: Copy files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ software_path }}/"
    owner: root
    group: root
    mode: preserve
  loop:
    - dashboards
    - provisioning
  delegate_to: "{{ software.instance }}"

- name: Copy templates
  ansible.builtin.template:
    src: "provisioning/{{ item.path }}/{{ item.file }}.j2"
    dest: "{{ software_path }}/provisioning/{{ item.path }}/{{ item.file }}"
    owner: root
    group: root
    mode: '0644'
  loop:
    - path: datasources
      file: prometheus.yaml
    - path: plugins
      file: llm.yaml
  delegate_to: "{{ software.instance }}"

- name: Copy nomad job
  ansible.builtin.template:
    src: nomad.hcl
    dest: "/var/tmp/{{ domain }}.nomad"
    owner: root
    group: root
    mode: '0600'
  become: true

- name: Run nomad job
  ansible.builtin.include_role:
    name: nomad
    tasks_from: job_run.yml
