---
- name: Install ufw firewall
  any_errors_fatal: true
  hosts: "{{ hosts_limit | default('infrastructure') }}"
  gather_facts: true
  become: true
  pre_tasks:
    - name: End the play for hosts because ufw_enable is disabled
      ansible.builtin.meta: end_host
      when: ufw_enable is defined and not ufw_enable

  roles:
    - ansible-ufw
