---
- name: Configure the platform
  any_errors_fatal: true
  hosts: "{{ hosts_limit | default('infrastructure') }}"
  gather_facts: true
  become: true
  pre_tasks:

    - name: Set fqdn hostname
      ansible.builtin.hostname:
        name: "{{ inventory_hostname }}"
        use: systemd

    - name: Create ansible facts.d directory
      become: true
      ansible.builtin.file:
        path: /etc/ansible/facts.d
        state: directory
        owner: "root"
        group: "root"
        mode: '0755'

    - name: Install mandatories packages
      ansible.builtin.apt:
        pkg:
          - python3-debian
          - unzip
          - make
          - jq
          - dnsutils

        state: present
        install_recommends: false
      register: apt_status
      until: apt_status is success
      delay: 6
      retries: 10

  roles:
    - unattended-upgrades

- name: Configure systemd resolved
  ansible.builtin.import_playbook: systemd-resolved.yml
- name: Configure docker
  ansible.builtin.import_playbook: docker.yml
- name: Configure nomad
  ansible.builtin.import_playbook: nomad.yml
- name: Configure coredns
  ansible.builtin.import_playbook: coredns.yml
- name: Configure metrology
  ansible.builtin.import_playbook: metrology.yml
