---
- name: Install ssh hardening
  any_errors_fatal: true
  hosts: "{{ hosts_limit | default('infrastructure') }}"
  gather_facts: true
  become: true
  pre_tasks:
    - name: End the play for hosts that are not in frontends group
      ansible.builtin.meta: end_host
      when: fact_instance.location != 'frontends'
  roles:
    - sshd
