[Unit]
Description="{{ image.upstream.description }}"
Documentation=https://grafana.com/docs/loki/latest

[Service]
Restart=always
RestartSec=10
User=root
Group=root
RuntimeDirectory=promtail
EnvironmentFile=/etc/default/promtail
ExecStart=/bin/sh -c "/usr/local/bin/promtail $ARGS"
ExecStartPost=/bin/sh -c "echo $MAINPID > /run/promtail.pid"
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
PIDFile=/run/promtail.pid
SendSIGKILL=no
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
