#!/bin/bash

set -e

SERVICE_NAME="{{ image.name }}"

if command -v systemctl >/dev/null 2>&1; then
  echo "Reloading systemd configuration..."
  systemctl daemon-reload

  echo "Enabling and starting $SERVICE_NAME service..."
  systemctl enable "$SERVICE_NAME"
  systemctl start "$SERVICE_NAME"
fi
