[Unit]
Description="{{ image.upstream.description }}"
Documentation=https://grafana.com/docs/loki/latest

[Service]
Restart=always
RestartSec=10
User=root
Group=root
RuntimeDirectory=loki
EnvironmentFile=/etc/default/loki
ExecStart=/bin/sh -c "/usr/local/bin/loki $ARGS"
ExecStartPost=/bin/sh -c "echo $MAINPID > /run/loki.pid"
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
PIDFile=/run/loki.pid
SendSIGKILL=no
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
