---
- name: Deploy mimir records and rules
  any_errors_fatal: true
  hosts: localhost
  gather_facts: false
  become: false
  vars_prompt:
    - name: endpoint
      prompt: Mimir endpoint
      private: false
  vars:
    project: default
    mimir_tmp_dir: /tmp/mimirtool
    mimir_env:
      MIMIR_TENANT_ID: demo
      MIMIR_ADDRESS: "https://{{ endpoint }}"
      MIMIR_API_USER: "{{ lookup('simple-stack-ui', type='secret', key=endpoint, subkey='login', missing='error') }}"
      MIMIR_API_KEY: "{{ lookup('simple-stack-ui', type='secret', key=endpoint, subkey='passwd', missing='error') }}"
  pre_tasks:
    - name: Create temporary directory
      ansible.builtin.file:
        path: "{{ mimir_tmp_dir }}"
        state: directory
        mode: '0755'

    - name: Get alertmanager configuration
      set_fact:
        alertmanager: "{{ lookup('simple-stack-ui', type='secret', key=endpoint, subkey='alertmanager', missing='warn') | from_json }}"

  tasks:
    - name: Deploy configuration
      ansible.builtin.include_role:
        name: mimir
        tasks_from: mimirtool

  post_tasks:
    - name: Remove temporary directory
      ansible.builtin.file:
        path: "{{ mimir_tmp_dir }}"
        state: absent
