---
image:
  build: true
  forkable: false
  upstream:
    source: github
    user: minio
    repo: minio
    type: release
    format: tar.gz
    file: linux-ARCH/minio
    os: linux
    binary: minio
  labels: {}
  name: minio
  origin: alpine:latest

minio_root_user: admin
minio_root_password: "{{ secret.password | default(lookup('password', '/dev/null', chars=['ascii_letters', 'digits', 'hexdigits'], length=15, seed=inventory_hostname)) }}"
