---
latest_version: "{{ (lookup('url', 'https://api.github.com/repos/' + image.upstream.user + '/' + image.upstream.repo + '/releases/latest', headers={'Accept': 'application/vnd.github+json', 'Authorization': 'Bearer ' + lookup('ansible.builtin.env', 'GITHUB_API_TOKEN') }) | from_json).get('tag_name') | replace('v', '') }}"
upstream_file_name: "{{ latest_version }}"
upstream_file_url: "https://dl.min.io/server/minio/release/linux-{{ upstream_default_arch }}/minio"
