---
- name: Install mandatories packages
  ansible.builtin.apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - software-properties-common
      - python3-pip
      - lsb-release
    state: present
    install_recommends: false
  register: apt_status
  until: apt_status is success
  delay: 6
  retries: 10

- name: Get docker gpg signed key
  ansible.builtin.get_url:
    url: "https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg"
    dest: /etc/apt/keyrings/docker.asc

- name: Add Docker repository on ubuntu
  ansible.builtin.copy:
    content: |
      Components: stable
      Enabled: yes
      X-Repolib-Name: docker
      Signed-By: /etc/apt/keyrings/docker.asc
      Suites: {{ ansible_distribution_release }}
      Types: deb
      URIs: https://download.docker.com/linux/ubuntu
    dest: /etc/apt/sources.list.d/docker.sources
    owner: root
    group: root
    mode: '0644'

- name: Install Docker
  ansible.builtin.apt:
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose
      - docker-compose-plugin
      - docker-buildx-plugin
    state: present
    install_recommends: false
    update_cache: true
  register: apt_status
  until: apt_status is success
  delay: 6
  retries: 10

- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ docker_user }}"
    groups: docker
    append: true
  notify: Docker_restart

- name: Create home docker directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - /root/.docker
    
- name: Copy config.json to root directory
  ansible.builtin.template:
    src: config.json.j2
    dest: /root/.docker/config.json
    owner: root
    group: root
    mode: '0600'
  notify: Docker_restart

- name: Copy daemon.json for DNS resolution
  ansible.builtin.template:
    src: daemon.json.j2
    dest: "{{ docker_conf_dir }}/daemon.json"
    owner: root
    group: root
    mode: '0600'
  when: docker_dns_configuration
  notify: Docker_restart
