---
- name: Get upstream version
  ansible.builtin.include_role:
    name: upstream
    tasks_from: "{{ image.upstream.source }}"

- name: Set custom variables
  ansible.builtin.set_fact:
    image_version: "{{ (latest_version | split('-'))[0] }}"
    image_definition: "{{ image }}"

- name: End playbook if no new version
  ansible.builtin.meta: end_host
  when: softwares[catalog_image_name] is defined and softwares[catalog_image_name].version == image_version

- name: Copy dockerfile
  ansible.builtin.template:
    src: Dockerfile.j2
    dest: "{{ build_work_dir }}/Dockerfile"
    mode: '0644'
