service.nomad.:1053 {
    bind 127.0.0.1
    errors
    #debug
    #log
    nomad {
        zone service.nomad
        address https://127.0.0.1:4646
        token {{ lookup('simple-stack-ui', type='secret', key=inventory_hostname, subkey='nomad_management_token', missing='error') }}
        ttl 10
    }
    prometheus 127.0.0.1:9153
    cache 30
}
