service.nomad.:1053 {
    bind 127.0.0.1
    errors
    #debug
    #log
    nomad {
        address https://{{ hostvars[nomad_primary_master_node | default(inventory_hostname)]['ansible_' + nomad_iface].ipv4.address | default('127.0.0.1') }}:4646
        token {{ lookup('simple-stack-ui', type='secret', key=nomad_primary_master_node | default(inventory_hostname), subkey='nomad_management_token', missing='error') }}
        ttl 10
    }
    prometheus 127.0.0.1:9153
    cache 30
}
