---
global:
  scrape_interval: 60s
  # evaluation_interval: 60s
  # scrape_timeout is set to the global default (10s).
  external_labels:
    cluster: demo
    namespace: demo

rule_files: []

{% if prometheus_remote_write %}
remote_write:
  - url: {{ prometheus_remote_write.url }}/api/v1/push
    headers:
      X-Scope-OrgID: demo
    send_exemplars: true
    basic_auth:
      username: "{{ prometheus_remote_write.login }}"
      password: "{{ prometheus_remote_write.password }}"
    queue_config:
      capacity: 25000            # Capacité totale de la file d'attente
      max_shards: 10             # Nombre de shards parallèles (trop haut = surcharge CPU)
      min_shards: 2              # Minimum, adapté aux petites charges
      max_samples_per_send: 5000 # Taille de lot max par push
      batch_send_deadline: 10s   # Ne pas attendre trop longtemps
      min_backoff: 250ms         # Délai min entre les retry (si erreur 5xx/429)
      max_backoff: 60s           # Délai max
{% endif %}

scrape_configs:

  - job_name: "node_exporter"
    metric_relabel_configs:
      - action: replace
        regex: "^instance|node_(((arp|cpu|disk_io|disk_reads?|disk_writes?|memory|tcp|vmstat)_.*)|boot_time_seconds|load(1|5|15))$"
        replacement: true
        source_labels: [__name__]
        target_label: __tmp_keep_me

      - action: replace
        regex: "^node_network_((receive_(bytes|packets)|transmit_(bytes|packets))_total);(eth[01]|lan[1234]|wan)$"
        replacement: true
        source_labels: [__name__, device]
        target_label: __tmp_keep_me

      - action: replace
        regex: "^node_filesystem_((avail_bytes|device_error|files|files_free)|(size|free|avail)_bytes);ext4$"
        replacement: true
        source_labels: [__name__, fstype]
        target_label: __tmp_keep_me

      - action: replace
        regex: "^node_uname_info|node_openwrt_info|wifi_network_(quality|noise_dbm|bitrate|signal_dbm)$"
        replacement: true
        source_labels: [__name__]
        target_label: __tmp_keep_me

      - action: keep
        regex: true
        source_labels: [__tmp_keep_me]

      - action: labeldrop
        regex: "^(__tmp_keep_me)$"

    static_configs:
      - targets: ['127.0.0.1:9100']
        labels:
          instance: "{{ inventory_hostname }}"
          project: "{{ prometheus_project }}"
{% for item in prometheus_nodes_exporter | default([]) %}
      - targets: ['{{ item.target }}:9100']
        labels:
          instance: "{{ item.instance }}"
          project: "{{ prometheus_project }}"
{% endfor %}
    scrape_interval: 60s
    scrape_timeout: 59s

  - job_name: "adguard"
    metric_relabel_configs:
      - action: drop
        regex: "^(go_|prometheus_|promhttp_).*"
        source_labels: [__name__]
    static_configs:
      - targets: ['127.0.0.1:9618']
        labels:
          instance: "{{ inventory_hostname }}"
          project: "{{ prometheus_project }}"

  - job_name: "speedtest"
    metrics_path: /probe
    params:
      script: [speedtest]
    static_configs:
      - targets: ['127.0.0.1:9469']
        labels:
          instance: "{{ inventory_hostname }}"
          project: "{{ prometheus_project }}"
    scrape_interval: 60m
    scrape_timeout: 30s

  - job_name: "script_exporter"
    metric_relabel_configs:
      - action: drop
        regex: "^(go_|prometheus_|promhttp_).*"
        source_labels: [__name__]
    static_configs:
      - targets: ['127.0.0.1:9469']
        labels:
          instance: "{{ inventory_hostname }}"
          project: "{{ prometheus_project }}"

  - job_name: "dns_exporter"
    metric_relabel_configs:
      - action: drop
        regex: "^(go_|prometheus_|promhttp_).*"
        source_labels: [__name__]
    static_configs:
      - targets: ['127.0.0.1:15353']
        labels:
          instance: "{{ inventory_hostname }}"
          project: "{{ prometheus_project }}"

  - job_name: "dns_query"
    scrape_interval: "10s"
    metrics_path: "/query"
    params:
      module:
        - "custom_dns1"
        - "custom_dns2"
        - "cloudflare_dns1"
        - "quad9_dns1"
    relabel_configs:
      - source_labels: ["__address__"]
        target_label: "__param_query_name"
      - source_labels: ["__address__"]
        target_label: "instance"
      - target_label: "__address__"
        replacement: "127.0.0.1:15353"
      - target_label: "monitor"
        replacement: "{{ inventory_hostname }}"
    static_configs:
      - targets:
          - "gmail.com"
          - "outlook.com"
          - "google.com"

  - job_name: "docker_exporter"
    metric_relabel_configs:
      - action: drop
        regex: "^(go_|prometheus_|promhttp_).*"
        source_labels: [__name__]
    static_configs:
      - targets: ['127.0.0.1:9323']
        labels:
          instance: "{{ inventory_hostname }}"
          project: "{{ prometheus_project }}"

  - job_name: "scan_exporter"
    metric_relabel_configs:
      - action: drop
        regex: "^(go_|prometheus_|promhttp_).*"
        source_labels: [__name__]
    static_configs:
      - targets: ['127.0.0.1:2112']
        labels:
          instance: "{{ inventory_hostname }}"
          project: "{{ prometheus_project }}"

  - job_name: "systemd_exporter"
    static_configs:
      - targets: ['127.0.0.1:9558']
        labels:
          instance: "{{ inventory_hostname }}"
          project: "{{ prometheus_project }}"

  - job_name: "nomad_exporter"
    metric_relabel_configs:
      - action: drop
        regex: "^(go_|prometheus_|promhttp_).*"
        source_labels: [__name__]
    scheme: https
    bearer_token: "{{ lookup('simple-stack-ui', type='secret', key=inventory_hostname, subkey='nomad_management_token', missing='error') }}"
    params:
      format: ['prometheus']
    metrics_path: /v1/metrics
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: ['127.0.0.1:4646']
        labels:
          instance: "{{ inventory_hostname }}"
          project: "{{ prometheus_project }}"


  - job_name: 'mimir_exporter'
    nomad_sd_configs:
      - server: "https://127.0.0.1:4646"
        region: "{{ fact_instance.region }}"
        tls_config:
          insecure_skip_verify: true
        authorization:
          credentials: "{{ lookup('simple-stack-ui', type='secret', key=inventory_hostname, subkey='nomad_management_token', missing='error') }}"
    relabel_configs:
      - source_labels: ['__meta_nomad_service']
        regex: 'mimir-exporter'
        action: keep

  - job_name: 'promtail'
    static_configs:
      - targets: ['127.0.0.1:9080']
        labels:
          instance: "{{ inventory_hostname }}"
          project: "{{ prometheus_project }}"

  - job_name: 'blackbox'
    static_configs:
      - targets: ['127.0.0.1:9115']
        labels:
          instance: "{{ inventory_hostname }}"
          project: "{{ prometheus_project }}"

  - job_name: 'traefik'
    nomad_sd_configs:
      - server: "https://127.0.0.1:4646"
        region: "{{ fact_instance.region }}"
        tls_config:
          insecure_skip_verify: true
        authorization:
          credentials: "{{ lookup('simple-stack-ui', type='secret', key=inventory_hostname, subkey='nomad_management_token', missing='error') }}"
    relabel_configs:
      - target_label: instance
        replacement: "{{ inventory_hostname }}"
      - target_label: project
        replacement: "{{ prometheus_project }}"

      - source_labels: ['__meta_nomad_service']
        regex: 'traefik'
        action: keep

      - source_labels: [__meta_nomad_tags]
        regex: .*,fqdn:([^,]+),.*
        target_label: __tmp_fqdn
        replacement: $1
        action: replace

      - source_labels: [__tmp_fqdn]
        target_label: fqdn

  - job_name: 'minio'
    metrics_path: /minio/v2/metrics/cluster
    scheme: http
    nomad_sd_configs:
      - server: "https://127.0.0.1:4646"
        region: "{{ fact_instance.region }}"
        tls_config:
          insecure_skip_verify: true
        authorization:
          credentials: "{{ lookup('simple-stack-ui', type='secret', key=inventory_hostname, subkey='nomad_management_token', missing='error') }}"
    relabel_configs:
      - target_label: instance
        replacement: "{{ inventory_hostname }}"
      - target_label: project
        replacement: "{{ prometheus_project }}"

      - source_labels: ['__meta_nomad_service']
        regex: 'minio'
        action: keep

      - source_labels: [__meta_nomad_tags]
        regex: .*,fqdn:([^,]+),.*
        target_label: __tmp_fqdn
        replacement: $1
        action: replace

      - source_labels: [__tmp_fqdn]
        target_label: fqdn

  - job_name: 'caddy'
    nomad_sd_configs:
      - server: "https://127.0.0.1:4646"
        region: "{{ fact_instance.region }}"
        tls_config:
          insecure_skip_verify: true
        authorization:
          credentials: "{{ lookup('simple-stack-ui', type='secret', key=inventory_hostname, subkey='nomad_management_token', missing='error') }}"
    relabel_configs:
      - target_label: instance
        replacement: "{{ inventory_hostname }}"
      - target_label: project
        replacement: "{{ prometheus_project }}"

      - source_labels: ['__meta_nomad_service']
        regex: 'caddy'
        action: keep

      - source_labels: [__meta_nomad_tags]
        regex: .*,fqdn:([^,]+),.*
        target_label: __tmp_fqdn
        replacement: $1
        action: replace

      - source_labels: [__tmp_fqdn]
        target_label: fqdn

      # - source_labels: ['__meta_nomad_node']
      #   replacement: '$1'
      #   target_label: instance

  - job_name: 'mysql_exporter'
    nomad_sd_configs:
      - server: "https://127.0.0.1:4646"
        region: "{{ fact_instance.region }}"
        tls_config:
          insecure_skip_verify: true
        authorization:
          credentials: "{{ lookup('simple-stack-ui', type='secret', key=inventory_hostname, subkey='nomad_management_token', missing='error') }}"
    relabel_configs:
      - target_label: instance
        replacement: "{{ inventory_hostname }}"
      - target_label: project
        replacement: "{{ prometheus_project }}"

      - source_labels: ['__meta_nomad_service']
        regex: 'mysqld-exporter'
        action: keep

      - source_labels: [__meta_nomad_tags]
        regex: .*,fqdn:([^,]+),.*
        target_label: __tmp_fqdn
        replacement: $1
        action: replace

      - source_labels: [__tmp_fqdn]
        target_label: fqdn

      # - source_labels: ['__meta_nomad_node']
      #   replacement: '$1'
      #   target_label: instance

  - job_name: 'nginx_exporter'
    nomad_sd_configs:
      - server: "https://127.0.0.1:4646"
        region: "{{ fact_instance.region }}"
        tls_config:
          insecure_skip_verify: true
        authorization:
          credentials: "{{ lookup('simple-stack-ui', type='secret', key=inventory_hostname, subkey='nomad_management_token', missing='error') }}"
    relabel_configs:
      - target_label: instance
        replacement: "{{ inventory_hostname }}"
      - target_label: project
        replacement: "{{ prometheus_project }}"

      - source_labels: ['__meta_nomad_service']
        regex: 'nginx-exporter'
        action: keep

      - source_labels: [__meta_nomad_tags]
        regex: .*,fqdn:([^,]+),.*
        target_label: __tmp_fqdn
        replacement: $1
        action: replace

      - source_labels: [__tmp_fqdn]
        target_label: fqdn

      # - source_labels: ['__meta_nomad_node']
      #   replacement: '$1'
      #   target_label: instance

  - job_name: 'phpfpm_exporter'
    nomad_sd_configs:
      - server: "https://127.0.0.1:4646"
        region: "{{ fact_instance.region }}"
        tls_config:
          insecure_skip_verify: true
        authorization:
          credentials: "{{ lookup('simple-stack-ui', type='secret', key=inventory_hostname, subkey='nomad_management_token', missing='error') }}"
    relabel_configs:
      - target_label: instance
        replacement: "{{ inventory_hostname }}"
      - target_label: project
        replacement: "{{ prometheus_project }}"

      - source_labels: ['__meta_nomad_service']
        regex: 'phpfpm-exporter'
        action: keep

      - source_labels: [__meta_nomad_tags]
        regex: .*,fqdn:([^,]+),.*
        target_label: __tmp_fqdn
        replacement: $1
        action: replace

      - source_labels: [__tmp_fqdn]
        target_label: fqdn

      # - source_labels: ['__meta_nomad_node']
      #   replacement: '$1'
      #   target_label: instance


  - job_name: 'homeassistant'
    metrics_path: /api/prometheus
    scheme: http
    nomad_sd_configs:
      - server: "https://127.0.0.1:4646"
        region: "{{ fact_instance.region }}"
        tls_config:
          insecure_skip_verify: true
        authorization:
          credentials: "{{ lookup('simple-stack-ui', type='secret', key=inventory_hostname, subkey='nomad_management_token', missing='error') }}"

    relabel_configs:
      - target_label: instance
        replacement: "{{ inventory_hostname }}"
      - target_label: project
        replacement: "{{ prometheus_project }}"

      - source_labels: ['__meta_nomad_service']
        regex: 'homeassistant'
        action: keep

      - source_labels: [__meta_nomad_tags]
        regex: .*,fqdn:([^,]+),.*
        target_label: __tmp_fqdn
        replacement: $1
        action: replace

      - source_labels: [__tmp_fqdn]
        target_label: fqdn

      # - source_labels: ['__meta_nomad_node']
      #   replacement: '$1'
      #   target_label: instance
