#!/bin/bash

set -e

SERVICE_NAME="{{ image.name }}"
USER_NAME="prometheus"
GROUP_NAME="prometheus"

if ! getent group "$GROUP_NAME" >/dev/null; then
  echo "Creating group $GROUP_NAME..."
  groupadd --system $GROUP_NAME
fi

if ! id -u "$USER_NAME" >/dev/null 2>&1; then
  echo "Creating user $USER_NAME..."
  useradd --system --gid $GROUP_NAME --shell /usr/sbin/nologin --no-create-home $USER_NAME
fi

mkdir -p /var/lib/prometheus
chown $USER_NAME:$GROUP_NAME /var/lib/prometheus

if command -v systemctl >/dev/null 2>&1; then
  echo "Reloading systemd configuration..."
  systemctl daemon-reload

  echo "Enabling and starting $SERVICE_NAME service..."
  systemctl enable "$SERVICE_NAME"
  systemctl start "$SERVICE_NAME"
fi
