---
target: all,alertmanager,overrides-exporter

limits:
  compactor_blocks_retention_period: 1y

blocks_storage:
  backend: s3
  s3:
    endpoint: minio.service.consul:9000
    access_key_id: {{ lookup('community.general.passwordstore', 'minio/' + domain, subkey='access_key_id') }}
    secret_access_key: {{ lookup('community.general.passwordstore', 'minio/' + domain, subkey='secret_access_key') }}
    insecure: true
    bucket_name: mimir-blocks

alertmanager_storage:
  backend: s3
  s3:
    endpoint: minio.service.consul:9000
    access_key_id: {{ lookup('community.general.passwordstore', 'minio/' + domain, subkey='access_key_id') }}
    secret_access_key: {{ lookup('community.general.passwordstore', 'minio/' + domain, subkey='secret_access_key') }}
    insecure: true
    bucket_name: mimir

ruler:
  alertmanager_url: http://127.0.0.1:8080/alertmanager
  ring:
    heartbeat_period: 2s
    heartbeat_timeout: 10s

ruler_storage:
  backend: s3
  s3:
    endpoint: minio.service.consul:9000
    access_key_id: {{ lookup('community.general.passwordstore', 'minio/' + domain, subkey='access_key_id') }}
    secret_access_key: {{ lookup('community.general.passwordstore', 'minio/' + domain, subkey='secret_access_key') }}
    insecure: true
    bucket_name: ruler

alertmanager:
  fallback_config_file: /local/alertmanager-fallback-config.yaml
  external_url: http://mimir.service.consul:8080/alertmanager

server:
  log_level: info

usage_stats:
  enabled: false
