DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'awx.main.db.profiled_pg',
        'NAME': "{{ database_name }}",
        'USER': "{{ database_username }}",
        'PASSWORD': "{{ database_password }}",
        'HOST': '172.17.0.1',
        'PORT': '5432',
        'OPTIONS': {
            'sslmode': '{{ awx_postgres_sslmode | default('false') }}',
        },
    }
}

LISTENER_DATABASES = {
    'default': {
        'OPTIONS': {
{% if postgres_keepalives is defined %}
            'keepalives': 1,
            'keepalives_idle': {{ postgres_keepalives_idle | default(5) }},
            'keepalives_interval': {{ postgres_keepalives_interval | default(5)  }},
            'keepalives_count': {{ postgres_keepalives_count  | default(5) }},
{% else %}
            'keepalives': 0,
{% endif %}
{% if awx_postgres_target_session_attrs is defined %}
            'target_session_attrs': '{{ awx_postgres_target_session_attrs }}',
{% endif %}
        },
    }
}

BROADCAST_WEBSOCKET_SECRET = "{{ broadcast_websocket_secret_value | default('azertyqsdwxc123456') }}"
